<h1>
  {{#if users}}
  Update user:
  {{else}}
  Add new user:
  {{/if}}
</h1>




<div role="main" class="main">

				<section class="page-top">
					<div class="container">
						<div class="row">
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>REGISTER</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row">
						<div class="col-md-12" style="justify-content: center; align-items: center;">

							<div class="row featured-boxes login">
                <form action="/adduser/{{#if users}}{{users.id}}{{/if}}" method="post">

                <div class="col-sm-6">
									<div class="featured-box featured-box-secundary default info-content">
										<div class="box-content">
											<h4>REGISTER</h4>
											<form action="" id="" method="post">
												<div class="row">
													<div class="form-group">
														<div class="col-md-12">
															<label>E-mail Address</label>
                              <input type="text" class="form-control input-lg" name="username" value="{{#if users}}{{users.username}}{{/if}}"/>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group">
														<div class="col-md-6">
															<label>Password</label>
                              <input type="password" class="form-control input-lg" name="password" value="{{#if users}}{{users.password}}{{/if}}"/>
														</div>
														<div class="col-md-6">
															<label>Photo</label>
                              <input type="text" class="form-control input-lg" name="avatar" value="{{#if users}}{{users.avatar}}{{/if}}"/>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
                            <input type="submit" value="Register" class="btn btn-primary pull-right push-bottom" data-loading-text="Loading..."/>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
                
                </form>
								
                
                
                
                
                
							</div>

						</div>
					</div>

				</div>

			</div>